@import url('https://fonts.googleapis.com/css2?family=Brygada+1918&display=swap');

body {
    padding: 20px;
    background: #C5D6D8;
    color: white;
    text-align: center;
    font-family: 'Brygada 1918', serif;
    }
    
 h1 {
 font-size: large;
 }
 p {
   font-size: small;
 }
 a {
   text-decoration: none;
 }
 
.profile-img {
  width: 50%;
  border-radius: 50%;
}

.btn {
display: block;  
color: black;
padding: 25px;
background:white;
margin: 16px;
box-shadow: 10px 10px darkgrey;
} 